<div class = "container-sm " id = "main-body">
    <br>
    <h1>Create an Account</h1>
    <br>
    <hr>
    <form class="CreateAccount">
        <div class="row mb-3">
            <div class="col-sm-12">
                <label for="first-name" class="form-label">First Name</label>
                <input type="name" class="form-control name" id="first-name">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-12">
                <label for="last-name" class="form-label">Last Name</label>
                <input type="name" class="form-control name" id="last-name">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-12">
                <label for="emailaddress" class="form-label">Email address</label>
                <input type="email" class="form-control" id="emailaddress">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-12">
                <label for="password" class="form-label">Password</label>
                <input type="email" class="form-control" id="password">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-12">
                <label for="retypepassword" class="form-label">Re-type Password</label>
                <input type="email" class="form-control" id="retypepassword">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-12">
                <button class="btn btn-primary" id = "creeateaccount">Create Account</button>
            </div>
        </div>
    </form>