<nav class="navbar navbar-dark bg-primary"id="navbar-container">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1" id="navbarHeader">Jobs</span>
        <button class="btn btn-link" id="logoutbtn">Logout</button>
    </div>
</nav>
<hr>

<div class = "container-lg" id = "main-body">
    <!-- Job Modal -->
    <div class="modal fade" id="newjobmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="newjobmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newjobmodalLabel">New Job</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="job-form" class="row g-3">
                        <div class="col-md-6">
                            <label for="companyname" class="form-label">Company Name</label>
                            <input type="text" class="form-control" id="companyname">
                            <span class="input-required">* Required</span>
                        </div>
                        <div class="col-md-6">
                            <label for="position" class="form-label">Position</label>
                            <input type="text" class="form-control" id="position">
                            <span class="input-required">* Required</span>
                        </div>
                        <div class="col-12">
                            <label for="companyaddress" class="form-label">Company Address</label>
                            <input type="text" class="form-control company-address" id="companyaddress" placeholder="1234 Main St">
                        </div>
                        {{!-- <div class="col-12">
                            <label for="_compAddress2" class="form-label">Address 2</label>
                            <input type="text" class="form-control company-address" id="_compAddress2" placeholder="Apartment, studio, or floor">
                        </div>
                        <div class="col-md-6">
                            <label for="_compCity" class="form-label">City</label>
                            <input type="text" class="form-control company-address" id="_compCity" placeholder="Paradise City">
                        </div>
                        <div class="col-md-4">
                            <label for="_compState" class="form-label">State</label>
                            <input type="text" class="form-control company-address" id="_compState" placeholder="GA">
                        </div>
                        <div class="col-md-2">
                            <label for="_compZip" class="form-label">Zip</label>
                            <input type="text" class="form-control company-address" id="_compZip" placeholder="11125">
                        </div> --}}
                        <div class="col-md-6">
                            <label for="targetsalary" class="form-label">Target Salary</label>
                            <input type="number" class="form-control" id="targetsalary" placeholder="$50000">
                        </div>
                        <div class="col-md-6">
                            <label for="status" class="form-label">Status</label>
                            <select name="status" class="form-control" id="status">
                                <option value="disabled" disabled>Select A Status</option>
                                <option value="0">Not Yet Applied</option>
                                <option value="1">Applied</option>
                                <option value="2">Interview Scheduled</option>
                                <option value="3">Interviews Complete</option>
                                <option value="4">Awaiting Offer</option>
                                <option value="5">Offer Made</option>
                            </select>
                            <span class="input-required">* Required</span>
                        </div>
                        <div class="col-md-4">
                            <label for="pocname" class="form-label">Point of Contact Name</label>
                            <input type="text" class="form-control" id="pocname">
                        </div>
                        <div class="col-md-4">
                            <label for="pocemailaddress" class="form-label">Point of Contact Email</label>
                            <input type="email" class="form-control" id="pocemailaddress">
                        </div>
                        <div class="col-md-4">
                            <label for="pocphonenumber" class="form-label">Point of Contact Phone #</label>
                            <input type="number" class="form-control" id="pocphonenumber">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closebutton">Close</button>
                    <button type="button" class="btn btn-primary submit-button" id = "addjob">Add Job</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="Jobs-display">
        <div class="d-grid gap-2 col-2 mx-auto">
            <div class="add new job">
                <button type="button" class="btn btn-success" id="newjobmodalbtn">
                    Create New Job
                </button>
            </div>
        </div>
        <br>
        <div>
            <table id="joblist" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Position</th>
                        <th>Status</th>
                        <th>Target Salary</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                {{!-- <tfoot>
                    <tr>
                        <th>Company Name</th>
                        <th>Position</th>
                        <th>Status</th>
                        <th>Target Salary</th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot> --}}
            </table>
        </div>

    {{!-- archive confirmation modal --}}
    <div class="modal fade" id="confirm-archive" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-2" role="dialog" aria-labelledby="confirm-archive-label" aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    Are you sure you want to Archive this job?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger btn-ok" id="confirm-archive-btn">Archive</button>
                </div>
            </div>
        </div>
    </div>

    {{!-- DataTable --}}
    <div>
        <table id="joblist" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Position</th>
                    <th>Status</th>
                    <th>Target Salary</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            {{!-- <tfoot>
                <tr>
                    <th>Company Name</th>
                    <th>Position</th>
                    <th>Status</th>
                    <th>Target Salary</th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot> --}}
    </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script src="js/project.js"></script>