<nav class="navbar navbar-light"style="background-color: #0000FF;" id="navbar-container">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1" id="navbarHeader">Project Dos</span>
    </div>
</nav>
<hr>

<div class = "container-sm " id = "main-body">
    <div class = "login-container">
        <form class="userlogin">
            <div class="row mb-3">
                <div class="col-sm-12">
                    <label for="emailaddress" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="emailaddress">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-2">
                    <a href="#" class="create-account" id="createAccountModalLink"><i class="fa fa-user-plus" aria-hidden="true">  New Account</i></a>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="reset-password"><i class="fa fa-unlock-alt" aria-hidden="true">  Reset Password</i></a>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4">
                    <button class="btn btn-primary" id="accountlogin"><i class="fa fa-sign-in" aria-hidden="true">  Login</i></button>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="createAccountModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="newjobmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createAccountModalLabel">Create an Account</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="CreateAccount">
                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <label for="first-name" class="form-label">First Name</label>
                                <input type="name" class="form-control name" id="first-name">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <label for="last-name" class="form-label">Last Name</label>
                                <input type="name" class="form-control name" id="last-name">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <label for="emailaddress" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="modalemailaddress">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="modalpassword">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <label for="retypepassword" class="form-label">Re-type Password</label>
                                <input type="password" class="form-control" id="retypepassword">
                            </div>
                        </div>
                    </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" id = "createaccount">Create Account</button>
                </div>
            </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="js/login.js"></script>