<div class = "container-sm " id = "main-body">
    <br>
    <h1>Welcome!</h1>
    <br>
    <hr>
    <form class="userlogin">
        <div class="row mb-3">
            <div class="col-sm-12">
                <label for="emailaddress" class="form-label">Email address</label>
                <input type="email" class="form-control" id="emailaddress">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-12">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-2">
                <a href="/api/account/create" class="create-account">Create Account</a>
            </div>
            <div class="col-sm-2">
                <a href="#" class="reset-password">Reset Password</a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-4">
                <button class="btn btn-primary" id="accountlogin">Login</button>
            </div>
        </div>
    </form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="js/login.js"></script>