body{
    background-color: whitesmoke;
}

.main-body{
    background-color: whitesmoke;
}

hr{
    background-color: whitesmoke;
}

.input-required {
    font-size: 13px;
    color: rgb(9, 96, 14);
}

#navbarHeader {
    font-size: 25px;
    margin-left: 7%;
    font-family:Georgia;
}

#logoutbtn{
    margin-right: 7%;
    color:whitesmoke;
}

